*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/sonarlint/issuestore/2/a/2aa0ad133f7e639f62b13cd811c1b61b856b327b

\.idea/sonarlint/issuestore/2/a/

\.idea/sonarlint/issuestore/4/d/

\.idea/sonarlint/issuestore/7/8/

\.idea/sonarlint/issuestore/8/2/

\.idea/sonarlint/issuestore/8/a/

\.idea/sonarlint/issuestore/
